* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("background.jpg");
  background-size: cover;
  overflow: hidden;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Roboto', Arial, sans-serif;
  color: #ffffff;
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  margin-top: 60px;
}

.header {
  font-size: 42px;
  margin-bottom: 20px;
  color: #ffffff;
}

.description {
  font-size: 18px;
  color: #ffffff;
}

.left-navbar {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  width: 100%;
  backdrop-filter: blur(5px);
  padding: 10px 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-buttons, .right-buttons {
  display: flex;
}

.left-buttons {
  margin-left: 20px;
}

.left-navbar a {
  display: inline-block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  position: relative;
  transition: background-color 0.3s, color 0.3s;
  line-height: 1.2;
}

.left-navbar a:hover {
  background: #ddd;
  color: black;
}

.button {
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  color: #ffffff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 300ms, color 300ms;
  position: relative;
}

.button:hover {
  background-color: #ffffff;
  color: black;
}

.link-navbar {
  margin-right: 20px;
}

.link {
  color: #ffffff;
  text-decoration: underline;
  text-decoration-color: white;
  background-color: transparent;
  transition: color 0.3s, text-decoration-color 0.3s;
}

.link:hover {
  color: purple;
  text-decoration-color: purple;
}

ul {
  list-style: none;
  padding: 0;
}
